/*
 $grey: #f4f4f4;
 $teal: #8ec6c5;
 $lavender: #6983aa;
 $magenta: #8566aa;
*/

/* Global */
body {
  color: #f4f4f4;
  background: #6983aa;
  flex-flow: column;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
body * {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  flex-flow: column;
}
.appTitle {
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
}
.appSubtitle {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

/* Form */
.form {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  max-width: 700px;
  align-self: center;
}
.formSection {
  display: flex;
  margin: 0 0 1rem;
  flex-flow: column;
}
.form input[type='radio'] {
  display: none;
}
.form label {
  cursor: pointer;
}

/* Bottom bar */
.bottomBar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.switcher {
  font-size: 1rem;
  margin-left: 0.5rem;
}
