$grey: #f4f4f4;
$teal: #8ec6c5;
$lavender: #6983aa;
$magenta: #8566aa;

// Global
body {
  color: $grey;
  background: $lavender;
  font-family: Roboto, sans-serif;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
  justify-items: center;
}

// Form body
.form {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  width: 100%;
  max-width: 700px;
  align-self: center;
}
.formSection {
  display: flex;
  margin: 20px 0;
  flex-flow: column;
}
.form input[type='radio'] {
  display: none;
}
.form label {
  cursor: pointer;
}

// Bottom bar
.bottomBar {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.switcher {
  font-size: 1rem;
  margin-left: 0.5rem;
}
